---
layout: default
---


        <nav id="mainNav">
            <ul>
                <li class="menu-item">
                    <span class="menu-btn menu-dropdown-btn">Wijzig...</span>
                    <ul id="recipes" class="menu-dropdown">
                        <li>
                            <a href="{{site.baseurl}}/admin.html">Nieuw Recept</a>
                            <hr>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="{{site.baseurl}}/blog.html" class="menu-btn">Blog</a>
                </li>
                <li class="menu-item menu-item-small" data-menupos="right">
                    <a href="{{site.baseurl}}/admin.html" class="menu-btn material-icons">
                    admin_panel_settings
                    </a>
                </li>
            </ul>
        </nav>
        
        {{content}}

        <footer>
            
        </footer>