main>section{
    position: relative;
    background-color: #e6d6a9;
    scroll-snap-align: start end;
}

main>section.overzicht>a.step-btn-back {
    visibility: hidden;
} 

#recipeName {
    font-size: 48px;
    overflow-wrap: anywhere;
}

main>section.step {
    z-index: 3;
} 

main>section:nth-child(even) {
    background-color: #c6d9d0;
}

main>section.step .step-content p {
    background-color: rgba(230,214,169, .5);
}

main>section.step:nth-child(even) .step-content p {
    background-color: rgba(198,217,208, 0.5);
}

main>section>a {
    text-align: center;
    background-color: #40444d;
    color: white;
}

/*main>section.step:first-child>a.step-btn-back,*/
main>section.step:last-child>a.step-btn-next {
    display: none;
}

main>section.step>.step-content {
    background-image: url('../images/svg/gistvat.svg');
    background-size: auto 33%;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

footer {
    background-color: #40444d;
}

header {
    background-image: url('../images/svg/brouwproces-2.svg');
    background-size: auto 33%;
    background-repeat: repeat-x;
    background-position: 50% 100%;
    background-color: #c6d9d0;
    
    text-align: center;
}

.view header {
    scroll-snap-align: start end;
}

header>nav {
    background-color: #40444d;
    color: #f9b509;

    z-index: 2;
}

header>nav {
    box-shadow: 0px 0px 8px black;
}

header>nav .menu-item:hover {
    background-color: #814715;
}

main .step-content>h2 {
    background-color: #f9b509;
    border: 8px solid #40444d;
    color: #40444d;
    border-radius: 20px;
}

main .step-content>p {
    font-size: 24px;
}

header>nav .menu-dropdown-btn+.menu-dropdown {
    background-color: #40444d;
    list-style-type: none;
}

header>nav .menu-dropdown-btn+.menu-dropdown>li>a:hover {
    background-color: #814715;    
}


header>a>img {
    box-shadow: 0px 0px 8px black;
    border-radius: 9999px;
    background-color: #f9b509;
}

header>a>img:hover {
    box-shadow: 0px 0px 16px black;
}

form#editRecipe {
    border: 8px solid #40444d;
    border-radius: 20px;
    text-align: left;
    background-color: #c6d9d0;
}

form#editRecipe ._jsonform-array-buttons {
    border-left: 1px solid black;
}

form#editRecipe fieldset {
    border: none;
    border-left: 1px solid black;
}

form#editRecipe .array{
    border: none;
    background-color: #e6d6a9;
    border: 2px solid black;
    border-radius: 10px;
}

form#editRecipe .array .array{
    border: none;
    background-color: #e6d6a9;
    border-bottom: 2px solid black;
    border-radius: 0;
}

form#editRecipe input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}

form#editRecipe input[type=submit] {
    background-color: #f9b509;
}