header {
    min-height: 100vh;
}

footer {
    height: 100px;
}

main>section {
    min-height: 100vh;
    display: grid;

    grid-template-rows: 50px auto 150px;
}

main>section.step:last-child {
    grid-template-rows: 100px auto;
}

main>section.step .step-content,
main>section.overzicht .overzicht-content {
    padding: 32px;
}

main>section .step-btn-back {
    padding: 16px;
}

main>section .step-btn-next {
    padding: 64px;
}

.overzicht-content>.start-btn>img {
    max-height: 200px;
}

@media only screen and (min-width: 600px) {
    .overzicht-content {
        display: grid;
        grid-template-rows: 100px auto;
        grid-template-columns: 1fr 1fr;

        grid-template-areas: "title title"
                             "ingredients proces";
    }

    #recipeName {
        grid-area: title;
    }

    #ingredients {
        grid-area: ingredients;
    }

    #brewingProcess {
        grid-area: proces;
    }
}