:root {
    --dark: black;
    --light: white;
    --primary: red;
}

/*
font-family: 'Jua', sans-serif;
font-family: 'Kodchasan', sans-serif;
font-family: 'Kosugi Maru', sans-serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
    font-family: 'Kodchasan', sans-serif;
}

.material-icons {
    vertical-align: middle;
}

u {
    text-decoration: underline;
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

img {
    width: 100%;
}

/* de waardes hieronder kunnen verschillen van website tot website. */
html {
    height: 100vh;
    font-family: sans-serif;
    scroll-snap-type: y mandatory ;
    scroll-behavior: smooth;
}

p {
    font-size: 18px;
}

h1, h2, h3 {
    line-height: 0.9;
    letter-spacing: 5px;
    font-family: serif;
    margin: 32px 0;
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
}
